.main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    width: 400px;
}

.button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border: 1px solid rgba(197, 192, 192, 0.705);
    background-color: rgba(221, 217, 217, 0.979);

    border-radius: 999999px;
    width: 60px;
    height: 15px;
    padding: 5px;

    font-size: small;
}

.button:hover{
    border: 1px solid rgb(37, 99, 235);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transition: 0.3s;
}